body {
	background-color: #a6c3de;
}

#bt1 {
	padding: 10px;
	width: 100px;
	margin: 10px 0px 0px 10px;
	border-color: orange;
	border-radius: 10px;
	border-width: 5px;
}
#nomeMostrar {
	padding: 10px;
	width: 150px;
	margin: 10px 0px 0px 10px;
	border-color: #8803fc;
	border-radius: 10px;
	border-width: 5px;
}

#inputN {
	padding: 10px;
	margin: 10px 0px 0px 10px;
	border-color: #8803fc;
	border-radius: 10px;
	border-width: 5px;
}


*{
margin:	0% 0% 0% 0%;
padding: 0;
}